
*, *:before, *:after { 
    box-sizing: border-box; /* Prevent padding from enlarging elements */
}

* {
    
    margin: 0; /* Remove extra margin from everything (body, headings, etc...) */
}

img {
    max-width: 100%; /* Don't let images be more than their container's width */
}

p, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word; /* Break long words in headings & paragraphs */
}

ul { /* Don't style unordered lists (good for nav menus!) */
    padding: 0;
    list-style: none;
}

a { /* No blue links! */
    color: inherit;
    text-decoration: none;
}


@font-face {
    font-family: "VC_David";
    font-weight: bold;
    src: url(fonts/VC_david-Bold.woff2);
}
@font-face {
    font-family: "80-kb-Sharp";
    font-weight: normal;
    src: url(fonts/80-kb-Sharp.woff2);
}

@font-face {
    font-family: "exposuretrial-30-webfont";
    font-weight: bold;
    src: url(fonts/exposuretrial-30-webfont.woff2);
}

body{
margin: 0;
padding: 0;
background-color: whitesmoke;
}

.site-header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: left;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.site-logo img{
    height: 3rem;
    margin-left: 2rem;
    transition: transform 0.5s ease;

}

.site-logo img:hover{
    transform: scale(1.1);

}



.breadcrumb-site-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;

}


.breadcrumb-site-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    font-family: "80-kb-Sharp";
    font-size: 0.8rem;
    color: rgb(102, 102, 102);

}

.breadcrumb-site-nav a:hover {
color: black;
transition: ease-in;

}

.page-layout {
    padding:0 20px 20px 20px;
    max-width: 100%;

}

summary {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
 
summary::-webkit-details-marker {
  display: none; 
}



.site-nav {
    font-family: "VC_David";
    font-weight: bold;
    font-size: 2rem;
    color:  rgb(102, 102, 102);
   letter-spacing: -2px;
   width: 120px;
   position: fixed;
   right: 2rem;
   top: 15vh;
   
  
}

.site-nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    cursor: pointer;

}

.site-nav-list-item{
    cursor: pointer;
 list-style: none;
 transition: color 0.75s ease-in;
    text-decoration: none;
    color: inherit;
    display: inline-block;

}

.site-nav-list-item:hover {
    color: black;
}

.site-nav-list-item.current a{
    color: black;
    

}

.submenu-item {
    font-family: "80-kb-Sharp";
    font-weight: normal;
    font-size: 1rem;

}
.submenu-item a:hover {
    color: black;
}

.page-content {
    margin-right: 160px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 0 20px 20px 20px;
   
}

h1.homepage-title {
    font-family: "VC_David";
    font-weight: bold;
    font-size: clamp(6rem, 12vw, 12rem);
    line-height: 0.8;
    letter-spacing:clamp(-18px, -1.4vw, -8px);
    margin: 4rem;
    margin-top: 0;
    position: fixed;
    z-index: 1000;
    
}

h1.index-page-title {
     flex: 1;
    font-family: "VC_David";
    font-weight: bold;
    font-size: clamp(6rem, 12vw, 12rem);
    line-height: 0.9
    ;
    letter-spacing: clamp(-18px, -1.4vw, -8px);
    position: sticky;
    top: 15vh;
    max-width: 250px;
    z-index: 0;
    
}

.homepage-floating-layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;

  
}



.floating-layout.img img {
    max-width: 300px;
    width: 100%;
    display: block;
    animation: subtleFloat 7s ease-in-out infinite, appear linear;
    animation-timeline: auto, view();
    animation-range: normal, entry 0 cover 30%;

    
}


.floating-layout.img.a {
    grid-column: 2 / span 3;
    margin-top: 120px;
}


.floating-layout.img.c {
    grid-column: 9
     / span 3
     ;
    margin-top: 40px;
}


.floating-layout.text.b {
    grid-column: 8/ span 4;
    margin-top: 280px;
    font-family: "VC_David";
    font-weight: bold;
    font-size: clamp(0.5rem, 5vw, 1.5rem); 
    letter-spacing: -1.3px;
}

.floating-layout.img.d {
    grid-column: 1 / span 2;
    margin-top: 250px;
}

.floating-layout.img.e {
    grid-column: 5 / span 3;
    margin-top: 170px;
}

.floating-layout.img.f {
    grid-column: 9 / span 2;
    margin-top: 360px;
}

.floating-layout.img.g {
    grid-column: 3 / span 3;
    margin-top: 420px;
}

.floating-layout.img.h {
    grid-column: 7 / span 2;
    margin-top: 570px;
}


@keyframes subtleFloat {
    0%   { transform: translate(0, 0); }
    25%  { transform: translate(2px, -4px); }
    50%  { transform: translate(-2px, 2px); }
    75%  { transform: translate(1px, 4px); }
    100% { transform: translate(0, 0); }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

h1.page-title {
    font-family: "VC_David";
    font-weight: bold;
    font-size: 6rem;
    line-height: 0.9;
    letter-spacing: -10px;
    position: sticky;
    top: 15vh;

}

h1.play-page-title {
    font-family: "VC_David";
    font-weight: bold;
    font-size: clamp(3rem, 6vw, 6rem);
    line-height: 0.8;
    letter-spacing: clamp(-10px, 1vw, -2px);
    

}

.grainy-text {

  filter: url(#grainy-text);
  transition: filter 0.5s ease;
  display: inline-block;
}

.grainy-text:hover {
    filter: url(#grainy-text-over);
}

.play-page-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8rem;
}

.play-page-banner {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: sticky;
    top: 15vh;
}

.banner-subs {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.char-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.char-list-accordion {
    font-family: "80-kb-Sharp";
    font-size: 1rem;
    color: rgb(102, 102, 102);
    transition: color 0.3s ease;
}

.char-list-accordion:hover {
    color: black;
}

.video-index {
    flex: 2;
    column-count: 4;
    column-gap: 1rem;
    width: 100%;

}

/*.plays-index {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 0.5rem;   
    width: 100%;

}*/

.plays-index-cols {
    flex: 2;
    display: flex; 
    flex-direction: row;
    gap: 0.5rem;   
    width: 100%;
    direction: rtl;
    align-items: flex-start;
}

.plays-col {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.index-wrap {
  list-style: none;
    width: 100%;  
}

.index-content {
    min-width: 0;
    flex: 1 1 auto;
}



.plays-index-item {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    text-decoration: none;
    color:  rgb(102, 102, 102);

    padding: 1rem;
    transition: color 0.3s ease, letter-spacing 0.4s ease;
   cursor: pointer;
   
   
}

.plays-index-list-item{
  border-radius: var(--radius);
  overflow: hidden;
}

.plays-index-item-img {
    width: 100%;
    max-height: 0;
    opacity: 0;
    filter: grayscale(100%);
    object-fit: cover;
    transition: max-height 0.4s;
}

.plays-index-item:hover{
    color: black;
    filter: blur(0);
}

.plays-index-item:hover .plays-index-item-title {
    max-height: 250px;
    opacity: 1;
    letter-spacing: 2px;
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.plays-index-item:hover .plays-index-item-img {
    max-height: 150px;
    opacity: 1;
    margin-bottom: 15px;
}

h4 {
    font-family: "exposuretrial-30-webfont";
    font-size: 1.2rem;
    letter-spacing: -1px;  
}

.english {
    font-family: "exposuretrial-30-webfont";
    font-size: 1.2rem;
    letter-spacing: -1px; 
    
}



/*
.rotate {
    transform: rotate(2deg);
}

.rotate2 {
    transform: rotate(-0.8deg);
}*/





h2 {
    font-family: "VC_David";
    font-size: 1.2rem;
    letter-spacing: -1px;
}
h3 {
    font-family: "VC_David";
    font-size: 1.5rem;
    letter-spacing: -0.5px;
}

p {
    font-family: "80-kb-Sharp";
    font-size: 1rem;
}

p a {
    color: rgb(102, 102, 102);
    transition: color 0.3s ease;
}

p a:hover{
    color: black;
}

.characters {

    font-family: "80-kb-Sharp";
    font-size: 0.8rem;
    list-style: none;
}

dd {
   font-family: "80-kb-Sharp";
    font-size: 1rem;
}

dt {
    font-family: "80-kb-Sharp";
    font-size: 0.8rem;
}



.play-script {
    flex: 2;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-family: "80-kb-Sharp";
    gap: 2rem;


}

h3.play-script-part-header {
    position: sticky;
    top: 15vh;
    z-index: 1000;

}


.play-script-dl {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 20px 0;
    align-items: baseline;
    max-width: 800px;
}

.play-script-dl dt {
    grid-column: 1;
    font-family: "80-kb-Sharp";
    text-align: right;
}

.play-script-dl dd{
    grid-column: 2;
    margin: 0;
    padding-right: 30px;
    line-height: 1.6;
    font-family: "80-kb-Sharp";
}

.stage-direction {
    grid-column: 2;
    font-family: "80-kb-Sharp";
    font-size: 0.8rem;
}
.inline-stage-direction {
    grid-column: 2;
    font-family: "80-kb-Sharp";
    font-size: 0.8rem;
}

button {
  all: unset;
  cursor: pointer;
  color:  rgb(102, 102, 102);
}

.current-productions-page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8rem;
    
}

.productions-info {
    flex: 1;
    display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.current-productions-list {
    font-family: "80-kb-Sharp";
    font-size: 1rem;
    line-height: 1.6rem;
}

.productions-calendar {
    flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  align-items: center;

  
}

.calendar-header {
    
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-inline: auto;

}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: clamp(1rem, 2.5rem, 2.5rem);
    direction: rtl;
    width: 100%;
}
.day-name {
    font-family: "80-kb-Sharp";
    font-size: 1rem;
    line-height: 1.6;

}

.calendar-day {
    font-family: "VC_David";
    font-weight: bold;
    color:  rgb(102, 102, 102);
    font-size: 3rem;
    letter-spacing: -1px;
}

.active {
    color: black;
}



.quotes-archive-content {
    column-count: 4;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.quotes-archive-content-item {
    margin-bottom: 20px;
    break-inside: avoid;
  
}

.quotes-archive-content-item img {
    width: 100%;
    height: auto;
    display: block;
    

}

.quotes-archive-content-item img:hover .overlay {

    filter: none;
 transition: 0.3s ease;
}

.about-page-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
    margin-left: 4rem;
}

.about-sidebar {
    flex: 1;
    position: sticky;
    top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-quotation {
    font-family: "VC_David";
    font-size: 1.5rem;
    letter-spacing: -1px;
    line-height: 1.6rem;
}

.about-page-script {
    display: flex;
    flex: 2;
    flex-direction: column;
    font-family: "80-kb-Sharp";
    line-height: 1.6;
    gap: 2rem;
}

h3.script-header {
    position: sticky;
    top: 15vh;
    z-index: 1000;
}

.images-container {
    display: flex;
    flex-direction: row;
    max-width: 650px;
    gap: 4rem
    ;


}

.image-container-item {
    width: 150px;
    height: 150px;
}
.image-container-item img{
    width: 100%;
}

.video-page-index{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sketches-list {
    columns: 3;
    gap: 2rem;
    
}

.sketches-list-item {
line-height: 1rem;
    padding-bottom: 2rem;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}

.sketches-list-item a{
    
    font-family: "VC_David";
    font-weight: bold;
    font-size: 1.2rem;
    
    
    letter-spacing: -1px;
    color:  rgb(102, 102, 102);;
    transition: color 0.3s ease;


}

.sketches-list-item a:hover{
    color:  black;
    
}

@media (max-width: 1024px) {
     .site-header{
        height: 15vh;

    }
  
    
    .page-content {
        display: flex;
        flex-direction: column;
        margin-right: 160px;
        padding: 0 20px 20px 20px;
    }

    .page-layout {
padding:0 20px 20px 20px;
    }

     h1.index-page-title {
        position: sticky;
        top: 15vh;
    }
   


    .about-page-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        margin-left: 0;
    }
h1.page-title {
    position: static;
    
}
    .about-sidebar {
    flex: 1;
    position: static;
    top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.current-productions-page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
    
}

.quotes-archive-content {
    column-count: 3;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.video-index {
    flex: 2;
    column-count: 3;
    column-gap: 1rem;
    width: 100%;

}

}

@media (max-width: 768px) {

    .site-header{
        height: 15vh;

    }
    .page-layout {
        flex-direction: column;
        padding: 0 20px 20px 20px;
    }
    .site-nav {
        position: relative;
        width: 100%;
        top: 0;
        right: auto;
        display: flex;
        flex-direction: row;
    }
    .site-nav-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        list-style: none;
        padding: 0;
        justify-content: center;

    }

    .page-content {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .about-page-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        margin-left: 0;
    }
h1.page-title {
    position: static;
    
}
    .about-sidebar {
    flex: 1;
    position: static;
    top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

    h1.index-page-title {
        position: sticky;
        top: 40px;
    }
    .play-page-wrapper {
        display: flex;
        flex-direction: column;
    }

    .play-page-banner {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: static;
    }

    h1.play-page-title {
    line-height: 3rem;
    flex: 1;
    }

    .banner-subs {
        flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

    .breadcrumb-site-nav {
        display: none;
    }


    .plays-index {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .play-script-dl {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 10px 0;
    align-items: baseline;
    max-width: 800px;
    }

    h3.play-script-part-header {
        position: sticky;
        top: 80px;
        z-index: 1000;
    }

    .current-productions-page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px;
    gap: 4rem;
    
    }

    .productions-info {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  
    }
    .current-productions-list {
        display: none;
    font-family: "80-kb-Sharp";
    font-size: 1rem;
    line-height: 1.6rem;
    }

    .productions-calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    align-items: center;
    }

    .quotes-archive-content {
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.video-index {
    flex: 2;
    column-count: 2;
    column-gap: 1rem;
    width: 100%;

}


}

@media (max-width: 500px) {
    .site-header {
        height: 12vh;
    }

    p {
    font-family: "80-kb-Sharp";
    font-size: 1.2rem;
    }

    p a {
    color: rgb(102, 102, 102);
    
    }

    p a:hover{
    color: none;
    }

    .characters {

    font-family: "80-kb-Sharp";
    font-size: 1rem;
    list-style: none;
    }

    dd {
    font-size: 1.2rem;
}

dt {
    font-family: "80-kb-Sharp";
    font-size: 1rem;
}

.play-script-dl {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 20px 0;
    align-items: baseline;
    max-width: 800px;
}




    h1.play-page-title {
    line-height: 3rem;
    flex: 1;
    max-width: 250px;
    }

    .quotes-archive-content {
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.video-index {
    flex: 1;
    column-count: 4;
    column-gap: 1rem;
    width: 100%;

}

.site-logo img{
    height: 2.5rem;
    margin-left: 2rem;

}

.site-logo img:hover{
    transform: none;

}
}


@media (max-width: 1024px) {
    #c4 { display: none; }
}
@media (max-width: 768px) {
    #c3, #c4 { display: none; }
}
@media (max-width: 500px) {
    #c2, #c3, #c4 { display: none; }
}
